html { 
    background: url('game.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h1 {
      font-size: 50px;
      color: #ffd9b3;
  }

  h2 {
      font-size: 18px;
      color: #ffd9b3;
  }

  p {
    color: #ffd9b3;
  }